<div class="div-header text-left bg-dark text-white p-1">
  <ng-content></ng-content>
</div>
<lib-progressBar
  [color]="'ff555'"
  [fade]="true"
  *ngIf="loading; else elseTmp"
></lib-progressBar>
<ng-template #elseTmp>
  <div class="bg-light text-dark w-100">
    <nx-select
      (returnSelectedValue)="returnSelectedValue($event)"
      [data]="currenciesDestination"
      [selected]="currenciesSourceSelected"
    ></nx-select>
    <div class="p-2 text-small fw-bold">{{ currenciesSourceSelected }} TO</div>
    <nx-table
      [id]="'currency'"
      [data]="data"
      [headTitle]="headTitle"
      [fields]="fields"
      [device]="DEVICE_IS_PC"
    >
    </nx-table>
  </div>
</ng-template>
